@font-face { font-family: 'NalikaSignature';
             src: url('../fonts/NalikaSignature.otf')  format('opentype') }
@font-face { font-family: 'Akrobat-Regular';
              src: url('../fonts/Akrobat-Regular.otf')  format('opentype') }

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Roboto Slab;
}

p {
  font-family: Akrobat-Regular;
}

body {
  font-size: 1.1em;
}

.bg-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: center;
  /*background-image: url(../images/loginbottle_09_AF.jpg);*/
  background-image: url(../images/bg/20210309MR_Login-BG_edit2.jpg);
}

.scroller {
  height: 20vh;
  display: none;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

@media screen and (min-width: 1024px) {
  .scroller {
    display: flex;
  }
}

.scroller span {
	width: 30px;
	height: 30px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -20px;
	animation: animate 2s infinite;
}

.scroller span:nth-child(2) {
	animation-delay: -0.2s;
}

.scroller span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

/* return to top */

#topscroller svg {
  width: 235px;
  display: flex;
}

#topscroller {
  display: inline-block;
  background: url(../images/patterns/groovepaper.png);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#topscroller::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#topscroller:hover {
  cursor: pointer;
  background-color: #333;
}
#topscroller:active {
  background-color: #555;
}
#topscroller.show {
  opacity: 1;
  visibility: visible;
}

/* end return to top */

.allcontent {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.identity {
  color: white;
  position: relative;
  float: none;
  top: 10vh;
  z-index: 150;
  display: block;
  margin: 0 auto;
  padding-bottom: 6vh;
}

@media screen and (min-width: 1024px) {
  .identity {
    position: fixed;
    float: left;
    top: 42vh;
    padding-left: 80px;
  }
}

.identity svg {
  fill: #F2EDED;
}

.identity-center {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .identity-center {
    margin: 0;
  }
}

.fixed-logo {
  width: 235px;
  padding-bottom: 24px;
}

.social-icons {
  width: 235px;
  display: flex;
  justify-content: space-between;
}


.icon svg {
  width: 32px;
  height: 32px;
}

/* content page */

.page {
  color: white;
  text-align: center;
  z-index: 200;
  position: relative;
  top: 10vh;
  width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .page {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    width: 600px;
    float: right;
    padding-right: 80px;
    top: 80vh;
  }
}

@media screen and (min-width: 1216px) {
  .page {
    width: 800px;
    float: right;
    padding-right: 80px;
    top: 80vh;
  }
}

@media screen and (min-width: 1408px) {
  .page {
    width: 1000px;
    float: right;
    padding-right: 80px;
    top: 80vh;
  }
}
/* texture */

.box {
  background: url(../images/patterns/groovepaper.png);
}

/* Livestream */

.livestream {
  position: relative;
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.livestream iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Box mit border die um die Headline fließt */

.borderbox {
  border: 5px solid #eee7df;
  border-top-width: 0;
  text-align: center;
}
.bt {
  display: table;
  width: 100%;
  margin-bottom: -50px;
  font-family: NalikaSignature ;
  font-size: 40pt;
  color: #986D56;
}
.bt:before, .bt > span, .bt:after {
  display: table-cell;
  white-space: nowrap;
}
.bt > span {
  padding: 0 10px;
  position: relative;
  top: -40px;
}
.bt:before {
  content: "";
  border-top: 5px solid #eee7df;
  width: 5%;
}

.bt:after {
  content: "";
  border-top: 5px solid #eee7df;
  width: 95%;
}


/* Nav */

.wrapper__checkbox {
  display: none;
}

.wrapper__checkbox:checked~.wrapper__menu {
  right: 0;
}

.wrapper__checkbox:checked~.wrapper__button .wrapper__button-line:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.wrapper__checkbox:checked~.wrapper__button .wrapper__button-line:nth-child(2) {
  opacity: 0;
}

.wrapper__checkbox:checked~.wrapper__button .wrapper__button-line:nth-child(3) {
  transform: rotate(-45deg);
  top: -6px;
}

.wrapper__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: url(../images/patterns/groovepaper.png);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 220;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

.wrapper__button-line {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 0px;
  background: #000;
  margin: 2px 0;
  position: relative;
  transition: all .2s;
}

.wrapper__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 100px 40px 40px;
  transition: right .4s;
  z-index: 210;
}

.wrapper__menu-link {
  font-size: 18px;
  line-height: 20px;
  color: #EEE7DF;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 5px 10px;
  transition: all .2s linear;
  font-family: Roboto Slab, serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper__menu-link:hover {
  padding-right: 20px;
  color: #59A87B;
}

 /* Style the header: fixed position (always stay at the top) */
#mybar{
    border-radius: unset; 
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.4em;
  }

progress::-webkit-progress-value {
  background-color: #004D3E;
  border-radius: 0.2em;
}