@font-face { font-family: 'NalikaSignature';
             src: url('../fonts/NalikaSignature.otf')  format('opentype') }
@font-face { font-family: 'Akrobat-Regular';
              src: url('../fonts/Akrobat-Regular.otf')  format('opentype') }

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Roboto Slab;
}

p {
  font-family: Akrobat-Regular;
}

body {
  font-size: 1.1em;
}

.bg-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(../images/loginbottle_wald.jpg);
}

.scroller {
  height: 15vh;
  display: none;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

@media screen and (min-width: 1024px) {
  .scroller {
    display: flex;
  }
}

.scroller span {
	width: 30px;
	height: 30px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -20px;
	animation: animate 2s infinite;
}

.scroller span:nth-child(2) {
	animation-delay: -0.2s;
}

.scroller span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.allcontent {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.identity {
  color: white;
  position: relative;
  float: none;
  top: 10vh;
  z-index: 150;
  display: block;
  margin: 0 auto;
  padding-bottom: 6vh;
}

@media screen and (min-width: 1024px) {
  .identity {
    position: fixed;
    float: left;
    top: 42vh;
    padding-left: 80px;
  }
}

.identity svg {
  fill: #F2EDED;
}

.identity-center {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .identity-center {
    margin: 0;
  }
}

.fixed-logo {
  width: 235px;
  padding-bottom: 24px;
}

.social-icons {
  width: 235px;
  display: flex;
  justify-content: space-between;
}

/*.icon {
  margin-right: 24px;
}*/

.icon svg {
  width: 32px;
  height: 32px;
}

.page {
  color: white;
  text-align: center;
  z-index: 200;
  position: relative;
  top: 10vh;
  width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .page {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    width: 600px;
    float: right;
    padding-right: 80px;
    top: 84vh;
  }
}

@media screen and (min-width: 1216px) {
  .page {
    width: 800px;
    float: right;
    padding-right: 80px;
    top: 84vh;
  }
}

@media screen and (min-width: 1408px) {
  .page {
    width: 1000px;
    float: right;
    padding-right: 80px;
    top: 84vh;
  }
}

.box {
  background: url(../images/patterns/groovepaper.png);
}

.livestream {
  position: relative;
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.livestream iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Box mit border die um die Headline fließt */

.borderbox {
  border: 5px solid #eee7df;
  border-top-width: 0;
  text-align: center;
}
.bt {
  display: table;
  width: 100%;
  margin-bottom: -50px;
  font-family: NalikaSignature ;
  font-size: 40pt;
  color: #986D56;
}
.bt:before, .bt > span, .bt:after {
  display: table-cell;
  white-space: nowrap;
}
.bt > span {
  padding: 0 10px;
  position: relative;
  top: -40px;
}
.bt:before {
  content: "";
  border-top: 5px solid #eee7df;
  width: 5%;
}

.bt:after {
  content: "";
  border-top: 5px solid #eee7df;
  width: 95%;
}