html {
  font-size: 10px
}

@media only screen and (max-width:400px) {
  html {
    font-size: 9.411764705882353px
  }
}

body,
html {
  height: 100%;
  overflow: hidden
}

body {
  background: #111;
  font-family: akrobat-regular, sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.765;
  color: #757575;
  margin: 0;
  padding: 0
}

a {
  color: #8f6b59;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

a:active,
a:focus,
a:hover {
  color: #0087cc
}

a:active,
a:hover {
  outline: 0
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto slab", serif;
  color: #000;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  margin-top: 6rem;
  margin-bottom: 1.8rem
}

@media only screen and (max-width:600px) {

  .h1,
  .h2,
  .h3,
  .h4,
  h1,
  h2,
  h3,
  h4 {
    margin-top: 5.1rem
  }
}

.h5,
.h6,
h5,
h6 {
  margin-top: 4.2rem;
  margin-bottom: 1.5rem
}

@media only screen and (max-width:600px) {

  .h5,
  .h6,
  h5,
  h6 {
    margin-top: 3.6rem;
    margin-bottom: .9rem
  }
}

.h1,
h1 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem
}

@media only screen and (max-width:600px) {

  .h1,
  h1 {
    font-size: 3.3rem;
    letter-spacing: -.07rem
  }
}

.h2,
h2 {
  font-size: 3rem;
  line-height: 1.3
}

.h3,
h3 {
  font-size: 2.4rem;
  line-height: 1.25
}

.h4,
h4 {
  font-size: 2.1rem;
  line-height: 1.286
}

.h5,
h5 {
  font-size: 1.6rem;
  line-height: 1.313
}

.h6,
h6 {
  font-size: 1.3rem;
  line-height: 1.385;
  text-transform: uppercase;
  letter-spacing: .16rem
}

p img {
  margin: 0
}

i {
  font-size: inherit;
  line-height: inherit;
  font-style: normal;
  font-weight: 400
}

i {
  font-family: akrobat-italic, sans-serif
}

ul {
  list-style: disc
}

li {
  display: list-item
}

ul {
  margin-left: 1.7rem
}

ul li {
  padding-left: .4rem
}

ul ul {
  margin: .6rem 0 .6rem 1.7rem
}

img.pull-right {
  margin: 1.5rem 0 0 3rem
}

form,
input,
p,
ul {
  margin-bottom: 3rem
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url] {
  display: block;
  height: 6rem;
  padding: 1.5rem 2.4rem;
  border: 0;
  outline: 0;
  color: #151515;
  font-family: akrobat-regular, sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  max-width: 100%;
  background: rgba(0, 0, 0, .12);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus {
  color: #000
}

label {
  font-family: akrobat-semibold, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: .9rem;
  line-height: 1.714;
  color: #000;
  display: block
}

input[type=checkbox],
input[type=radio] {
  display: inline
}

label>.label-text {
  display: inline-block;
  margin-left: 1rem;
  font-family: akrobat-regular, sans-serif;
  font-weight: 400;
  line-height: inherit
}

label>input[type=checkbox],
label>input[type=radio] {
  margin: 0;
  position: relative;
  top: .15rem
}

::-webkit-input-placeholder {
  color: #828282
}

:-moz-placeholder {
  color: #828282
}

::-moz-placeholder {
  color: #828282
}

:-ms-input-placeholder {
  color: #828282
}

.placeholder {
  color: #828282 !important
}

input:-webkit-autofill,
input:-webkit-autofill:focus input:-webkit-autofill,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: #8f6b59;
  transition: background-color 5000s ease-in-out 0s
}

input[type=button],
input[type=reset],
input[type=submit] {
  display: inline-block;
  font-family: akrobat-semibold, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 5.4rem;
  line-height: 5rem;
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  color: #000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #c5c5c5;
  border: .2rem solid #c5c5c5
}

input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
  color: #000;
  outline: 0
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

.s-home {
  z-index: 501;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 720px;
  background-color: #111;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100vh;
  overflow-y: auto;
  -webkit-transition: -webkit-transform .7s;
  transition: transform .7s;
  -webkit-transition-timing-function: cubic-bezier(.91, .01, .6, .99);
  transition-timing-function: cubic-bezier(.91, .01, .6, .99)
}

.s-home--static {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hero-bg.jpg)
}

.s-home--static::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .85;
  background: linear-gradient(to right, #000 0, #000 20%, transparent 100%)
}

.home-logo {
  z-index: 502;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 60px;
  top: 36px
}

.home-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.home-logo img {
  width: 120px
}

.home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding-bottom: 6rem;
  position: relative
}

.home-content h3 {
  font-family: akrobat-medium, sans-serif;
  font-size: 1.4rem;
  line-height: 1.286;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 3rem;
  padding-left: 55px;
  position: relative
}

.home-content h3::before {
  content: "";
  display: block;
  background-color: #8f6b59;
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%
}

.home-content h1 {
  font-size: 6.4rem;
  line-height: 1.219;
  margin-top: 0;
  color: #fff;
  letter-spacing: 0
}

.home-content__main {
  max-width: 1400px;
  padding-top: 15rem;
  position: relative;
  overflow: hidden
}

.home-content__text p {
  font-size: 1.8rem;
  line-height: 2;
  color: rgba(255, 255, 255, .3);
  margin-top: 6.6rem;
  margin-right: 15%
}

.home-content__subscribe {
  max-width: 420px;
  margin: 4.2rem 0 0 0;
  padding: 0;
  position: relative
}

#mc-form {
  width: 100%
}

#mc-form input[type=email] {
  width: 100%;
  height: 5.4rem;
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 1.2rem 170px 1.2rem 24px;
  background: rgba(255, 255, 255, .05);
  color: #fff;
  margin-bottom: 1.8rem
}

#mc-form input[type=email]::-webkit-input-placeholder {
  color: #fff
}

#mc-form input[type=email]:-moz-placeholder {
  color: #fff
}

#mc-form input[type=email]::-moz-placeholder {
  color: #fff
}

#mc-form input[type=email]:-ms-input-placeholder {
  color: #fff
}

#mc-form input[type=email].placeholder {
  color: #fff !important
}

#mc-form input[type=submit] {
  color: #fff;
  background: #8f6b59;
  border-color: #8f6b59;
  padding: 0 25px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0
}

#mc-form label {
  color: #fff;
  font-family: akrobat-regular, sans-serif;
  font-size: 1.3rem;
  padding: 0 2rem
}

#mc-form label i {
  padding-right: 6px
}

.home-content__line {
  display: block;
  width: 1px;
  height: 12rem;
  background-color: #8f6b59;
  position: absolute;
  right: 84px;
  bottom: 0
}

.home-social {
  list-style: none;
  font-family: akrobat-regular, sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 6.6rem;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0)
}

.home-social a {
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}

.home-social li {
  position: relative;
  padding: .9rem 0
}

.home-social li a {
  display: block;
  width: 36px;
  height: 36px
}

.home-social i,
.home-social span {
  position: absolute;
  top: 0;
  line-height: 36px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}

.home-social i {
  font-size: 20px;
  right: 0;
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px
}

.home-social span {
  font-size: 1.2rem;
  color: #8f6b59;
  right: 6rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%
}

.home-social span::after {
  display: block;
  content: "";
  width: 8px;
  height: 1px;
  background-color: rgba(255, 255, 255, .15);
  position: absolute;
  top: 50%;
  right: -18px
}

.home-social li:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.home-copyright {
  z-index: 502;
  font-size: 1.5rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, .2);
  padding: 30px 60px 42px;
  position: absolute;
  left: 0;
  bottom: 0
}

.home-copyright a {
  color: rgba(255, 255, 255, .7)
}

.home-copyright span {
  display: inline-block
}

.home-copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 .5rem 0 .8rem;
  color: rgba(255, 255, 255, .1)
}

.home-copyright span:last-child::after {
  display: none
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    -ms-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    -ms-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0)
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -150%, 0);
    -ms-transform: translate3d(0, -150%, 0);
    transform: translate3d(0, -150%, 0)
  }
}

@media only screen and (max-width:1500px) {
  .home-content h1 {
    font-size: 5.8rem
  }

  .home-content__main {
    max-width: 1200px
  }

  .home-content__text p {
    font-size: 1.7rem;
    margin-top: 4.8rem;
    margin-right: 10%
  }
}

@media only screen and (max-width:1400px) {
  .home-logo {
    right: 35px
  }

  .home-content h1 {
    font-size: 5rem
  }

  .home-content__main {
    max-width: 1000px
  }

  .home-content__text p {
    font-size: 1.6rem;
    margin-top: 4.2rem;
    margin-right: 5%
  }

  .home-content__subscribe {
    margin: 3rem 0 0 0
  }

  .home-content__line {
    right: 54px
  }

  .home-social {
    right: 3.6rem
  }

  .home-social li a {
    height: 32px;
    width: 32px
  }

  .home-social i,
  .home-social span {
    line-height: 32px
  }

  .home-social i {
    font-size: 18px;
    height: 32px;
    width: 32px
  }

  .home-social span::after {
    right: -22px
  }
}

@media only screen and (max-width:1200px) {
  .home-content h3 {
    padding-left: 45px
  }

  .home-content h3::before {
    width: 30px
  }

  .home-content h1 {
    font-size: 4.2rem
  }

  .home-content__main {
    max-width: 900px
  }

  .home-content__text {
    padding-right: 30px
  }

  .home-content__text p {
    font-size: 1.5rem;
    margin-top: 3.6rem
  }
}

@media only screen and (max-width:1000px) {

  .home-content,
  .s-home {
    display: block
  }

  .home-content {
    overflow-y: auto
  }

  .home-content {
    padding-bottom: 0
  }

  .home-content br {
    display: none
  }

  .home-content__main,
  .home-copyright {
    max-width: 700px
  }

  .home-content__text {
    width: 100% !important;
    float: none !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0
  }

  .home-content__text {
    padding-right: 60px;
    margin-bottom: 7.2rem
  }

  .home-copyright {
    position: static;
    width: auto;
    margin-top: 9rem;
    padding: 30px 15px 42px
  }

  .home-content__line {
    display: none
  }
}

@media only screen and (max-width:800px) {

  .home-content__main,
  .home-copyright {
    max-width: 600px
  }

  .home-content__text {
    padding-right: 15px
  }

  .home-social {
    display: none
  }
}

@media only screen and (max-width:700px) {
  .home-content h1 {
    font-size: 4rem
  }

  .home-content__main,
  .home-copyright {
    max-width: 490px
  }
}

@media only screen and (max-width:600px) {
  .home-content h3 {
    font-size: 1.3rem
  }

  .home-content h1 {
    font-size: 3.6rem
  }

  .home-content__text {
    padding-right: 10px
  }

  .home-copyright {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px
  }
}

@media only screen and (max-width:500px) {
  .s-home {
    min-height: 642px;
    text-align: center
  }

  .home-content h3 {
    padding-left: 0
  }

  .home-content h3::before {
    display: none
  }

  .home-content h1 {
    font-size: 3.3rem
  }

  .home-content__main {
    max-width: 420px
  }

  #mc-form input[type=email] {
    padding: 1.2rem 2rem;
    text-align: center
  }

  #mc-form input[type=submit] {
    position: static;
    width: 100%;
    margin-bottom: 1.8rem
  }

  .home-copyright span {
    display: block
  }

  .home-copyright span::after {
    display: none
  }
}

@media only screen and (max-width:400px) {
  .s-home {
    min-height: 630px
  }

  .home-logo {
    right: 30px
  }

  .home-logo img {
    width: 95px;
    height: 24px
  }

  .home-content h1 {
    font-size: 3rem
  }

  .home-content__main {
    max-width: auto
  }

  .home-content__text {
    padding-right: 0
  }

  .home-content__text p {
    font-size: 1.6rem
  }

  .home-copyright {
    margin-top: 7.8rem
  }
}
